.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #B80000;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
  }
  
  .leftInnerContainer {

    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
  }
  

  .rightInnerContainer {
    display: flex;
    
    justify-content: flex-end;    
    margin-right: 5%;
    
  }
  
  .onlineIcon {
    margin-right: 5%;
  }

  .peopleIcon {
    cursor: pointer;
    margin-right: 100%;
  }

  