.searchBar{
    padding-bottom: 10%;
    width: 500px;
}

.videoInput {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF5F0;
    padding: 10px;
    border: none; 
    border-radius: 50px;
    
}
